@{
    ViewBag.Title = "Class Management";
    ViewBag.CardTitle = "View Classes";
}

<a asp-action="AddClass" class="btn btn-success mb-3">Add New Class</a>

<table id="classesTable" class="table table-hover" width="100%">
    <thead class="text-bold">
        <tr>
            <th>Class Number</th>
            <th>Grade Level</th>
            <th>Capacity</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
          $(function() {
              $("#classesTable").DataTable({
                  ajax: {
                      url: "@Url.Action("GetClassList", "Academic", new { area = "Admin" })",
                      dataSrc: "data"
                  },
                  columns: [
                      { data: "classNumber" },
                      { 
                          data: "gradeLevel",
                          "render": function(data) {
                            return data === 0 ? 'Kindergarten' : `Grade ${data}`;
                        }
                      },
                      { data: "capacity" },
                      {
                          data: "classId",
                          orderable: false,
                          className: "text-center",
                          render: function(id) {
                              return `
        <a href="/Admin/Academic/UpdateClass/${id}"
           class="btn btn-warning btn-sm">Edit</a>
                              `;
                          }
                      }
                  ],
                  order: [[0, "asc"]],
                  responsive: true,
                  autoWidth: true
              });
          });
    </script>
}
